/* === For your Responsive CSS === */
img {
max-width: 100%; }
@media screen and (max-width:600px)
{#legal {
  grid-column: 1/2;
  text-align: center;
}
#social-media {
  grid-column: 1/2;
  text-align: center;
}
@media screen and (max-width:600px){ header {
grid-template-columns: 100%; }
}
#splash {
font-size: 2rem;
line-height: 2.5rem;
height: 10.7rem; }
}
footer {
  text-align: center;
}
@media screen and (min-width:601px){
  #mobile-menu{
    display: none;
    }
}
/* Light mode */
@media (prefers-color-scheme: light) {
    html {
        background: white;
        color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html {
        background: black;
        color: white;
    }
}
